@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ЗАГАЛЬНІ СТИЛІ */
html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-weight: 400;
  color: #3e3e3e;
  background: #cccfcc;
}
@media screen and (min-width: 768px) {
  html,
body {
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (min-width: 768px) {
  html,
body {
    font-size: 18px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1199px) {
  body.lock {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  width: 100%;
  min-width: 320px;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}
.section .section-title {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #c00000;
}
@media screen and (min-width: 768px) {
  .section .section-title {
    margin-bottom: 40px;
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .section .section-title {
    font-size: 26px;
  }
}

.coloured {
  background-color: #3e3e3e;
  color: #cccfcc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

.simple-text {
  padding: 0;
  margin: 0;
}

.btn-primary {
  display: block;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 8px 15px;
  background: #c00000;
  border: 1px solid #cccfcc;
  color: #cccfcc;
  font-weight: 700;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn-primary:hover, .btn-primary:focus {
  background: #8d0101;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  color: #3e3e3e;
}

.tel-link {
  display: inline-flex;
  margin: 0 auto;
  font-size: 30px;
  color: #cccfcc;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.tel-link:hover, .tel-link:focus {
  color: #8d0101;
}

.social-list {
  margin-bottom: 20px;
}
.social-list .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: red;
  color: #cccfcc;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social-list .social-item .social-icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}
.social-list .social-item:hover, .social-list .social-item:focus {
  background: #8d0101;
  color: #3e3e3e;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e3e3e;
  z-index: 3;
}

.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.header-body .header-logo {
  position: relative;
  z-index: 5;
  flex: 0 0 40px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
.header-body .header-logo img {
  max-width: 100%;
}
.header-body .header-burger {
  position: relative;
  z-index: 5;
  width: 30px;
  height: 20px;
}
@media screen and (min-width: 1200px) {
  .header-body .header-burger {
    display: none;
  }
}
.header-body .header-burger span {
  position: absolute;
  background-color: #c00000;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-body .header-burger::before,
.header-body .header-burger::after {
  content: "";
  position: absolute;
  background-color: #c00000;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-body .header-burger::before {
  top: 0;
}
.header-body .header-burger::after {
  bottom: 0;
}
.header-body .header-burger.active span {
  transform: scale(0);
}
.header-body .header-burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header-body .header-burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .header-body .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 70px 10px 10px 10px;
    background-color: #c00000;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
@media screen and (max-width: 1199px) {
  .header-body .header-menu.active {
    top: 0;
  }
}
.header-body .header-list {
  position: relative;
  z-index: 3;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .header-body .header-list {
    display: block;
  }
}
.header-body .header-list .header-item {
  margin: 0 0 0 20px;
}
@media screen and (max-width: 1199px) {
  .header-body .header-list .header-item {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}
.header-body .header-list .header-item .header-link {
  color: #cccfcc;
}

.hero {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 400px;
  background-image: url(./../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
  }
}
.about-list .about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #3e3e3e;
  border-right: 1px solid #3e3e3e;
  border-left: 1px solid #3e3e3e;
}
@media screen and (min-width: 768px) {
  .about-list .about-item {
    width: 50%;
    padding: 40px;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    border-left: 1px solid #3e3e3e;
    border-right: 0;
  }
}
.about-list .about-item .item-name {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-list .about-item .item-name {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list .about-item .item-name {
    margin-bottom: 60px;
  }
}
.about-list .about-item:last-child {
  border-bottom: 1px solid #3e3e3e;
}
@media screen and (min-width: 768px) {
  .about-list .about-item:last-child {
    border-right: 1px solid #3e3e3e;
  }
}

.princips .princips-name {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .princips .princips-name {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .princips .princips-name {
    margin-bottom: 60px;
  }
}
.princips .princip-item:not(:last-child) {
  margin-bottom: 20px;
}

.classes-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .classes-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
}
.classes-list .classes-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border: 1px solid #cccfcc;
}
@media screen and (min-width: 1200px) {
  .classes-list .classes-item {
    flex-basis: calc((100% - 120px) / 3);
    padding: 40px;
  }
}
.classes-list .classes-item .classes-name {
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .classes-list .classes-item .classes-name {
    margin-bottom: 40px;
  }
}
.classes-list .classes-item .course-list {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .classes-list .classes-item .course-list {
    margin-bottom: 40px;
  }
}
.classes-list .classes-item .course-list .course-link {
  color: #cccfcc;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.classes-list .classes-item .course-list .course-link:hover, .classes-list .classes-item .course-list .course-link:focus {
  color: #8d0101;
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .partner-list {
    gap: 40px;
  }
}
.partner-list .partner-item {
  display: block;
  height: 150px;
  border: 1px solid #3e3e3e;
  flex-basis: calc((100% - 40px) / 3);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.partner-list .partner-item:hover, .partner-list .partner-item:focus {
  border: 1px solid #8d0101;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .partner-list .partner-item {
    flex-basis: calc((100% - 80px) / 3);
  }
}

.support {
  background-image: url(./../img/support.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background: grey;
}/*# sourceMappingURL=main.css.map */