@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ЗАГАЛЬНІ СТИЛІ */
html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-weight: 400;
  color: #252525;
  background: #cccfcc;
}
@media screen and (min-width: 768px) {
  html,
body {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1199px) {
  body.lock {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  width: 100%;
  min-width: 320px;
  padding: 20px 0;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.section .section-title {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #0150aa;
}
@media screen and (min-width: 768px) {
  .section .section-title {
    font-size: 22px;
    line-height: 28px;
  }
}

.coloured {
  background-color: #5c5c5c;
  color: white;
}
.coloured .section-title {
  color: #cccfcc;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

.simple-text {
  padding: 0;
  margin: 0;
}

.btn-primary {
  display: block;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 8px 15px;
  background: #0150aa;
  border: 1px solid #cccfcc;
  color: #cccfcc;
  font-weight: 700;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn-primary:hover, .btn-primary:focus {
  color: #252525;
  background: #a68200;
  border: 1px solid #252525;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.social-list {
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
}
.social-list .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #0150aa;
  color: #cccfcc;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social-list .social-link .social-icon {
  display: block;
  width: 30px;
  height: 30px;
  fill: currentColor;
}
.social-list .social-link:hover, .social-list .social-link:focus {
  background: #a68200;
  color: #252525;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.contacts-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts-list .contacts-item .contacts-link {
  padding: 10px 0;
  color: #cccfcc;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.contacts-list .contacts-item .contacts-link:hover, .contacts-list .contacts-item .contacts-link:focus {
  color: #a68200;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.header {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  top: 0;
  left: 0;
  z-index: 50;
}
@media screen and (min-width: 1200px) {
  .header {
    position: relative;
    margin: 0 auto;
    height: 0;
  }
}
.header .header-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .header .header-container {
    padding: 0 40px;
  }
}

.header::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: #cccfcc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .header::before {
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .header::before {
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
    height: 90px;
  }
}

.header-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.header-logo {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 0;
  display: block;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    width: 200px;
  }
}
.header-logo img {
  max-width: 100%;
}

.header-burger {
  position: fixed;
  right: 20px;
  top: 15px;
  z-index: 5;
  width: 30px;
  height: 20px;
}
.header-burger:hover, .header-burger:focus {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-burger {
    top: 25px;
    right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header-burger {
    display: none;
  }
}
.header-burger span {
  position: absolute;
  background-color: #252525;
  width: 100%;
  height: 4px;
  left: 0;
  top: 8px;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header-burger::before,
.header-burger::after {
  content: "";
  position: absolute;
  background-color: #252525;
  width: 100%;
  height: 4px;
  left: 0;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  bottom: 0;
}

.header-burger.active span {
  transform: scale(0);
}

.header-burger.active:before {
  transform: rotate(45deg);
  top: 8px;
}

.header-burger.active:after {
  transform: rotate(-45deg);
  bottom: 8px;
}

@media screen and (max-width: 1199px) {
  .header-menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 70px 20px 20px 20px;
    text-align: right;
    background-color: #cccfcc;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .header-menu {
    width: 50%;
    padding: 100px 40px 40px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    width: 100%;
    display: block;
    padding-top: 45px;
  }
}

@media screen and (max-width: 1199px) {
  .header-menu.active {
    background-color: #0150aa;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    top: 0;
  }
}

.header-list {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: right;
}
@media screen and (max-width: 1199px) {
  .header-list {
    display: block;
  }
}
.header-list .header-item .header-link {
  display: block;
  margin-left: auto;
  width: 150px;
  padding: 12px;
  text-align: right;
  font-weight: 700;
  color: #cccfcc;
  border: 1px solid transparent;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-list .header-item .header-link:hover, .header-list .header-item .header-link:focus {
  color: #252525;
  border: 1px solid #252525;
  background-color: #cccfcc;
}
@media screen and (min-width: 1200px) {
  .header-list .header-item .header-link {
    color: #252525;
    width: auto;
    font-size: 20px;
  }
  .header-list .header-item .header-link:hover, .header-list .header-item .header-link:focus {
    color: #0150aa;
    border-color: transparent;
    background-color: transparent;
  }
}
.header-list .header-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-list .header-item:not(:last-child) {
    margin-right: 10px;
  }
}

.hero {
  display: block;
  width: 100%;
  height: 400px;
  max-width: 1400px;
  margin: 0 auto;
  background-image: url(./../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-top: -50px;
    height: 600px;
  }
}

.about-list {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
  }
}
.about-list .about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #252525;
}
.about-list .about-item .item-name {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-list .about-item ul {
  padding-left: 20px;
  list-style: square;
}
.about-list .about-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-list .about-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.princips .princip-name {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.princips .princip-list {
  padding-left: 20px;
  list-style: square;
}
.princips .princip-list .princip-item:not(:last-child) {
  margin-bottom: 20px;
}

.classes-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.classes-list .classes-item {
  text-align: center;
  width: 100%;
}
.classes-list .classes-item .classes-name {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.classes-list .classes-item .course-list {
  margin-bottom: 20px;
}
.classes-list .classes-item .course-list .course-item:not(:last-child) {
  margin-bottom: 10px;
}
.classes-list .classes-item .course-list .btn-primary {
  width: 100%;
}

.partners.section {
  background-color: white;
}

.partner-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.partner-list .partner-item {
  width: 100px;
}
.partner-list .partner-item .partners-img {
  display: block;
  max-width: 100px;
  margin: 0 auto;
}

.support {
  background-image: url(./../img/support.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.support .section-title {
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  background: #cccfcc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.section.course {
  background-color: white;
  padding-top: 70px;
}
@media screen and (min-width: 768px) {
  .section.course {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section.course {
    padding-top: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .course-wrapper {
    display: flex;
  }
}

.course-title {
  margin-left: 100px;
  color: #0150aa;
  text-align: end;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .course-title {
    margin-left: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .course-title {
    margin-left: 200px;
  }
}

.course-img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .course-img {
    width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }
}/*# sourceMappingURL=main.css.map */