.about-list {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  .about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid $primary-text-color;
    .item-name {
      display: block;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    ul {
      padding-left: 20px;
      list-style: square;
    }
  }
  .about-item:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}
.princips {
  .princip-name {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .princip-list {
    padding-left: 20px;
    list-style: square;
    .princip-item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
