.classes-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .classes-item {
    text-align: center;
    width: 100%;
    .classes-name {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .course-list {
      margin-bottom: 20px;
      .course-link {
        display: block;
        padding: 10px 0;
        color: $background-color;
        background-color: $accent-color;
        border: 1px solid $background-color;
        transition: all $animation-timing 250ms;
        &:hover, &:focus {
          color: $primary-text-color;
          background-color: $accent-color-secondary;
          border: 1px solid $primary-text-color;
          text-shadow: $box-shadow;
        }
      }
      .course-item:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}
