.classes {
    .classes-list {
        width: 100%;
        display: flex;
        .classes-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            padding: 20px;
            border: 1px solid $primary-text-color;
            .classes-name {
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .course-list {
                margin-bottom: 20px;
            }
            .class-info-link {
                display: block;
                text-align: center;
                width: 200px;
                padding: 15px 10px;
                margin: 0 auto 20px auto;
                border: 1px solid $primary-text-color;
            }
        }
        .classes-item:not(:last-child) {
            margin-right: 20px;
        }
    }
    
}