.classes {
    .classes-list {
        width: 100%;
        display: flex;
        .classes-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            padding: 20px;
            border: 1px solid $primary-text-color;
            .classes-name {
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .course-list {
                margin-bottom: 20px;
            }
        }
        .classes-item:not(:last-child) {
            margin-right: 20px;
        }
    }
    
}