.header {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  top: 0;
  left: 0;
  z-index: 50;
  @media screen and (min-width: 1200px) {
    position: relative;
    margin: 0 auto;
    
  }
  .header-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: 768px) {
      padding: 0 40px;
    }
  }
}
.header-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
.header-logo {
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  width: 100px;
  @media screen and (min-width: 768px) {
    top: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 200px;
  }
  img {
    max-width: 100%;
  }
}
.header-burger {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 5;
  width: 30px;
  height: 20px;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    top: 40px;
    right: 40px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
  span {
    position: absolute;
    background-color: $primary-text-color;
    width: 100%;
    height: 4px;
    left: 0;
    top: 8px;
    transition: all $animation-timing 250ms;
  }
}
.header-burger::before,
.header-burger::after {
  content: '';
  position: absolute;
  background-color: $primary-text-color;
  width: 100%;
  height: 4px;
  left: 0;
  transition: all $animation-timing 250ms;
}
.header-burger::before {
  top: 0;
}
.header-burger::after {
  bottom: 0;
}

.header-burger.active {
  span {
    transform: scale(0);
  }
}

.header-burger.active:before {
  transform: rotate(45deg);
  top: 8px;
}
.header-burger.active:after {
  transform: rotate(-45deg);
  bottom: 8px;
}

.header-menu {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 70px 20px 20px 20px;
    text-align: right;
    background-color: $background-color;
    transition: all $animation-timing 250ms;
    @media screen and (min-width: 768px) {
      width: 50%;
      padding: 100px 40px 40px 40px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    display: block;
    padding-top: 100px;
  }
}
.header-menu.active {
  @media screen and (max-width: 1199px) {
    background-color: $accent-color;
    box-shadow: $box-shadow;
    top: 0;
  }
}
.header-list {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: right;
  @media screen and (max-width: 1199px) {
    display: block;
  }
  .header-item {
    .header-link {
      display: block;
      margin-left: auto;
      width: 150px;
      padding: 12px;
      text-align: right;
      font-weight:700;
      color: $background-color;
      border: 1px solid transparent;
      transition: all $animation-timing 250ms;
      &:hover,
      &:focus {
        color: $primary-text-color;
        border: 1px solid $primary-text-color;
        background-color: $background-color;
      }
      @media screen and (min-width: 1200px) {
        color: $primary-text-color;
        width: auto;
        font-size: 20px;
        &:hover,
      &:focus {
        color: $primary-text-color;
        border: 1px solid $primary-text-color;
        background-color: transparent;
      }
      }
    }
  }
  .header-item:not(:last-child) {
margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}
