.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $main-color;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 60px;
  }
  .header-logo {
    width: 80px;
    height: 80px;
    background-image: url(./../img/main-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 40px 10px 0;
    transition: transform 1s ease-in-out;
    &:hover {
      transform: rotateX(360deg);
    }
  }
  .header-nav {
    .header-menu {
      display: flex;
      color: $background-color;
      .item {
        transition: transform $animation-timing 2s;
        &:hover {
          transform: rotateX(360deg);
        }

        .header-menu-link {
          display: inline-flex;
          align-items: center;
          padding: 0 20px;
          height: 100px;
          text-transform: uppercase;
          color: $background-color;
          transition: background $animation-timing 250ms, color $animation-timing 250ms;
          &:hover {
            color: red;
            background: $background-color;
          }
        }
      }
    }
  }
}
