.partners.section {
  background-color: white;
}

.partner-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  .partner-item {
    width: 100px;
    .partners-img {
      display: block;
      max-width: 100px;
      margin: 0 auto;
    }
  }
}

