.partner-list {
  width: 100%;
  display: flex;
  margin: -40px;
  .partner-item {
    flex-basis: calc((100% - 120px) / 6);
    height: 150px;
    padding: 20px;
    margin: 20px;
    border: 1px solid white;
  }
}
