.support {
    background-image: url(./../img/support.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .section-title {
        color: $heading-color;
    }
}