.section.course {
  background-color: $heading-color;
  padding-top: 70px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 1200px) {
    padding-top: 100px;
  }
}
.course-wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.course-title {
  color: $accent-color;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}

.course-img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
