.section.support-details {
  background-color: $heading-color;
  padding-top: 70px;
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
  }

  .support-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .simple-text {
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
}
