/* ЗАГАЛЬНІ СТИЛІ */
html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-color;
  background: $background-color;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
  }
}
body.lock {
  @media screen and (max-width: 1199px) {
    overflow: hidden;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.section {
  width: 100%;
  min-width: 320px;
  padding: 20px 0;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: $box-shadow;
  .section-title {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color;
    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

.coloured {
  background-color: $main-color;
  color: $heading-color;
  .section-title {
    color: $background-color;
  }
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.simple-text {
  padding: 0;
  margin: 0;
}

.btn-primary {
  display: block;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 8px 15px;
  background: $accent-color;
  border: 1px solid $heading-color;
  color: $heading-color;
  font-weight: 700;
  transition: all $animation-timing 250ms;
  &:hover,
  &:focus {
    color: $accent-color;
    background: $heading-color;
    box-shadow: $box-shadow;
  }
}

.social-list {
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: $accent-color;
    color: $background-color;
    transition: all $animation-timing 250ms;
    .social-icon {
      display: block;
      width: 30px;
      height: 30px;
      fill: currentColor;
    }
    &:hover,
    &:focus {
      background: $accent-color-secondary;
      color: $primary-text-color;
      box-shadow: $box-shadow;
    }
  }
}

.contacts-list {
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .contacts-item {
    .contacts-link {
      padding: 10px 0;
      color: $background-color;
      transition: all $animation-timing 250ms;
      &:hover,
      &:focus {
        color: $accent-color-secondary;
        text-shadow: $box-shadow;
      }
    }
  }
}